<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">
	<bean name="/d_security/log" class="org.vicalloy.quickstart.security.web.LogAction"/>
	<bean name="/d_security/masterFunction" class="org.vicalloy.quickstart.security.web.MasterFunctionAction"/>
	<bean name="/d_security/subFunction" class="org.vicalloy.quickstart.security.web.SubFunctionAction"/>
	<bean name="/d_security/user" class="org.vicalloy.quickstart.security.web.UserAction"/>
	<bean name="/d_security/role" class="org.vicalloy.quickstart.security.web.RoleAction"/>
	<!-- new_bean -->
</beans>
